*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    height: 260px;
    background-color:rgb(179, 129, 174);
    display: grid;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
}

.navbar .logo{
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 180px;
    padding-left: 60px;
}


.navbar .menu{
    grid-column: 3/8;
    display:flex ;
    justify-content: space-between;
    
}


.navbar .menu li{
    list-style: none;
}

.navbar .menu a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(238, 238, 29);
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}

a:hover{
    background-color: whitesmoke;
}

.navbar .herramientas {
    display: flex;
    justify-content: space-evenly;
    grid-column: 9/10;
}

.herramientas img{
    width: 20px;
}


.navbar .burguer{
    display: none;
}

p{
    font-size: 20px;
    color: black;
}

.container{
    display: grid;
    align-items: center;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;

}

.tarjeta{
    display: grid;
    align-items: center;
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    padding: 20px;
    grid-template-columns: repeat(2,1fr);
}

.tarjeta__miniatura{
    width: 650px;
    height: 300px;
    margin-right: 20px;
}

.tarjeta__imagen{
    width: 30%;
    border-radius: 20px;
    grid-column: 1/2;
}

.tarjeta__parrafo{
    grid-column: 2/3;
    transform: translatex(-400px);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
}

.flex-container{
    margin-top: 30px;
    background-image: bou
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
}


.caja1 img{
    width: 280x;
    height: 280px;
}

.caja2 img{
    width: 280x;
    height: 280px;
}

.caja3 img{
    width: 280x;
    height: 280px;
}

.caja4 img{
    width: 280x;
    height: 280px;
}


.caja{
    margin: 25px;
}

.caja p{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    transform: translatex(-40px);
}

.pieDepagina{
    display: grid;
    height: 120px;
    align-items: center;
    color: yellow;
    background-color: rgb(179, 129, 174);;
    grid-template-columns: 3,1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "laflorita derechos seguinos"
    "laflorita derechos redes"
}

.seguinos{
    grid-area: seguinos;
    display: flex;
    justify-content: center;
    font-size: 20px;
    animation-name: flash;
    animation-duration: 5s;

}


.pieDepagina .laflorita{
    grid-area: laflorita;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    animation-name: bounce;
    animation-duration: 3s;
}

.pieDepagina .derechos{
    grid-area: derechos;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 14px;
}

.pieDepagina .redes{
    grid-area: redes;
    display: flex;
    justify-content: space-evenly;
}

.redes img{
    width: 20px;
}


/*
.pieDepagina{
    display: grid;
    height: 120px;
    align-items: center;
    background-color: rgb(165, 161, 161);
    grid-template-columns: 3,1fr;
    grid-template-areas: "laflorita derechos redes";
}

.pieDepagina .laflorita{
    grid-area: laflorita;
    display: flex;
    justify-content: center;
}

.pieDepagina .derechos{
    grid-area: derechos;
    display: flex;
    justify-content: center;
}

.pieDepagina .redes {
    grid-area: redes;
    display: flex;
    justify-content: space-evenly;
}

.redes img{
    width: 20px;
}*/

