@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

//Declaracion de Variables

$tipografia:'Poppins', sans-serif;
$color-fondo:rgb(33, 201, 204);
$color-enlaces: rgb(136, 255, 0);
$color-footer:rgb(245, 31, 152);
$fuente: 18px;


.navbar{
    height: 220px;
    background-color:rgb(224, 206, 206);
    display: grid;
    margin: 10px 15px;
    grid-template-columns: repeat(10,1fr);
    align-items: center;
    background-color: grey;
}



.navbar .logo{
    width: 180px;
    height: 180px;
    grid-column: 1/3;
    transform: translateX(20px);
}

.navbar .menu{
    display:flex ;
    justify-content:space-between;
    grid-column: 3/7;
    
}


.navbar .menu li{
    list-style: none;
    font-family: $tipografia;
}

.navbar .menu a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    
}

a:hover{
    background-color: $color-enlaces;
    color: white;
    &:active{
        background-color: blue;
        font-size: 20px;
    } 
}

.herramientas img{
    grid-column: 7/8;
    width: 20px;
    height: 20px;
}

.burguer{
    display: none;
}

.container{
    background-color: rgb(234, 234, 78);
}

.column img{
    width: 180px;
    margin-top: 10px;
    border: 1px solid #000;
    margin-right: 10px;
    margin-bottom: auto;
}

.pieDepagina{
    display: grid;
    height: 120px;
    align-items: center;
    background-color:grey;
    grid-template-columns: 3,1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "laflorita derechos seguinos"
    "laflorita derechos redes"

}

.pieDepagina .laflorita{
    grid-area: laflorita;
    display: flex;
    justify-content: center;
    color:$color-footer;
    font-size: $fuente;
    animation-name: bounce;
    animation-duration: 3s;
    font-family: $tipografia;
}

.seguinos{
    grid-area: seguinos;
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: $fuente;
    animation-name: flash;
    animation-duration: 5s;

}


.pieDepagina .derechos{
    grid-area: derechos;
    display: flex;
    justify-content: center;
    color: $color-footer;
    font-size: 10px;
}

.pieDepagina .redes{
    grid-area: redes;
    display: flex;
    justify-content: space-evenly;
}

.redes img{
    width: 20px;
}


